<div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="text" class="form-control" google-places placeholder="I'm in.." location="ctrl.location"/>
                <span class="input-group-btn">
             <button class="btn btn-default" type="button" ng-click="ctrl.showBranches()">Send</button>
         </span>
            </div>
        </div>
    </div>

    <hr>

    <div ng-if="ctrl.isShowBranches" class="container">
        <h4 class="bg-primary text-center"><b> Distance to branches from: <i>{{ ctrl.location.location}}</i> </b></h4>
        <h6 ng-if="ctrl.bestChain" class="bg-success text-center"><b><i>{{ctrl.bestChain}}</i> is the best chain store in your area </b></h6>
        <h6 ng-if="!ctrl.bestChain" class="bg-danger text-center"><b> There is no close chain store in your area </b></h6>
        <table class="table table table-hover">
            <tr>
                <th>#</th>
                <th>location</th>
                <th>Chain</th>
                <th>Distance</th>
            </tr>
            <tr ng-repeat="(i,branch) in ctrl.branches | orderBy:'-currDistance':'reverse'">
                <td>{{i+1}}</td>
                <td>{{branch.location}}</td>
                <td>{{branch.chain}}</td>
                <td>{{branch.currDistance | number:0}}</td>
            </tr>
        </table>
    </div>
</div>
